<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1>Login</h1>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" />
    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
      Please enter a valid email
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" />
    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
      Password is required
    </mat-error>
    <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
      Password must be at least 6 characters
    </mat-error>
  </mat-form-field>

  <button type="submit" >Login</button>

  <p>Or <a (click)="goToRegister()" style="cursor: pointer; text-decoration: underline;">sign up</a> here</p>
</form>
