body {
  background-color: #13171f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 3em;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  position: static; 
  transform: none; 
}

h1 {
  font-size:32px;
}

p {
  font-size: 21px;
}

a {
  text-decoration: none; 
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}

