body {
    background-color: rgb(19, 23, 31); 
}

.snackbar-success {
  background-color: #4caf50 !important; /* Green background for success */
  color: white !important;
}

.snackbar-error {
  background-color: #f44336 !important; /* Red background for error */
  color: white !important;
}

